<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>RTSP Live Viewer</title>
		<meta name="description" content="A tools to live view RTSP source directly in browser.">
		<meta name="color-scheme" content="light">
		<meta property="og:title" content="RTSP Live Viewer">
		<meta property="og:description" content="A tools to live view RTSP source directly in browser.">
		<link href="/root.css" rel="stylesheet" />
		<link href="/main.css" rel="stylesheet" />
	</head>
	<body>
    <div class="container">
      <div class="left-section">
        <div class="title">RTSP Live Viewer</div>
        <div class="footer">Tugas Besar Cakru ARC 2024</div>
      </div>
      <div class="right-section">
        <div class="title_2">View an RTSP Source</div>
        <p class="grey-text">Enter your RTSP link below to live view it directly in this browser.</p>
        <div class="input-group">
          <input type="text" placeholder="rtsp://203.124.12.45/Camera1">
          <button>View</button>
          <p class="grey-text_2">By using this service you consent to the use of cookies and user agreements.</p>
        </div>
      </div>
    </div>
	</body>
</html>