<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>RTSP Live Viewer</title>
		<meta name="description" content="A tools to live view RTSP source directly in browser.">
		<meta name="color-scheme" content="light">
		<meta property="og:title" content="RTSP Live Viewer">
		<meta property="og:description" content="A tools to live view RTSP source directly in browser.">
		<link href="/root.css" rel="stylesheet" />
		<link href="/viewer.css" rel="stylesheet" />
		
	</head>
	<body>
		<iframe src="/viewer-frame/<%=link%>"/>

			<div class="container">
				<div class="text-box">
				  <h2>RSTP Live Viewer</h2>
				  <p>Result:</p>
				</div>
				<div class="video-box">
				  <iframe width="560" height="315" src="INSERT_VIDEO_LINK_HERE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			  </div>
	</body>
</html>
