body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .left-section, .right-section {
    width: 50%;
    height: 100vh;
  }
  
  .left-section {
    position: relative;
    width: 50%;
    height: 100vh;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-section {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-family: "Georgia", Times, serif;
    font-size: 50px;
    color: #000000;
  }
  
  .title_2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    color: #000000;
  }
  
  .footer {
    font-family: "Times New Roman", Times, serif;
    color: #404040;
    font-size: 17px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .input-group button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
  }
  
  .disclaimer {
    font-size: 12px;
    color: #666;
  }
  
  .grey-text {
    color: #666;
  }
  
  .grey-text_2 {
    color: #a5a5a5;
    font-size: 13px;
  }